* {
    margin: 0;
    padding: 0;
}

section {
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 10px;
}

aside {
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 10px;
}

div {
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 10px;
}

header {
    text-align: center;
    font-size: 36pt;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
    padding: 2% 0;

}

/*li styling*/

section li {
    padding: 0 18px;
    list-style-position: inside
}

aside li {
    padding: 0 18px;
    list-style-position: inside
}

/* navigation styling*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    overflow: hidden;
}

nav li {
    float: left
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

nav li a:active {
    background-color: azure;
}

/*navigation end*/

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Urbanist', sans-serif;
}


nav ul li {
    font-size: 16pt;
    font-weight: bold;
}

h4 {
    font-size: 14pt;
    text-decoration-line: overline;
    padding-top: 2%;
    padding-bottom: 1%;
}

.education h4 {
    text-decoration-line: none;
}

.location {
    font-size: 10pt;
}

footer {
    text-align: center;
    position: sticky;
}

.email:hover {
    color: lightskyblue;
}

.email:focus {
    color: lightskyblue;
}

a:hover {
    color: lightskyblue;
}

footer p {
    position: static;
    padding-top: 3%;
}
